
/*-----------------------------------
	GENERAL
------------------------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #fff;
	color: #666;
	font-family: "Open Sans", sans-serif;
}
a {
	color: #18d26e;
	text-decoration: none;
}
a:hover{
	color: #18d36e;
}
p {
	margin-bottom: 25px;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Montserrat", sans-serif;
	margin-bottom: 20px;
}
img {
	width: 100%;
}
ul{
	list-style-type: none;
}
/*-----------------------------------
	NAVIGATION BAR
------------------------------------*/
#navbar {
	color: white;
	padding: 20px;
	width: 100%;
	position: absolute;
	z-index: 1;

}
#navbar .anaty-navbar {
	margin: auto;
	width: 90%;
	overflow: auto;
}
#navbar .anaty-navbar .logo {
	float: left;
}*
#navbar .anaty-navbar .menu {
	float: right;
}
#navbar .anaty-navbar h3 {
	border-left: 5px solid #18d26e;
	margin-left: 20px;
	padding-left: 20px;
}
#navbar .anaty-navbar .menu li {
	display: inline-block;
	margin-right: 10px;
}
/*-----------------------------------
	INTRO HEADER
------------------------------------*/
#intro {
	background: linear-gradient( rgba(0, 0, 0,0.8), rgba(0, 0, 0, 0.8) ), url('../images/header-image.jpg');
	height: 600px;
	position: relative;
}

#intro .anaty-intro {
	width: 50%;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 45%;
	left: 25%;
	color: white;
}
/*-----------------------------------
	SECTION
------------------------------------*/
#about-section {
	background: linear-gradient(rgba(255, 255, 255, 0.8) ,rgba(255, 255, 255, 0.8)), url('../images/about-bg.jpg');
	padding: 60px 0;
	background-attachment: fixed;

}
#about-section .container {
	text-align: center;
	width: 90%;
	margin: auto;
}

.section-head {
	margin-bottom: 60px;
}

.col-3{
	float: left;
	width: 33.3333333%;
	padding: 10px;

}
.row  {
	overflow: auto;
}
.col-content {
	background-color: #fff;
	box-shadow: 3px 3px 12px #aaa; 
}
.col-content p {
	padding: 0 10px 15px 10px;
}
.col-content i {
	font-size: 30px;
	background-color: #18d26e;
	color:white;
	padding: 5px 10px;
	border-radius: 50%;
	position: relative;
	top: -25px;
	border:5px solid white;
}
/*
	SERVICE SECTION
 */
  #service-section {
 	background-color: white;
 	padding: 60px 0;
	background-attachment: fixed;
 }
#service-section .ligne {
	text-align: center;
	width: 90%;
	margin: auto;


}
.col {
	float: left;
	width: 25%;
	padding: 10px;
} 

.ligne {
	overflow: auto;
}
#service-section i{
	display: block;
	float: left;
}
#service-section .col h3, #service-section .col p{
	padding-left: 40px;
	text-align: left;
}
.col i {
	color: white;
	color: #18d26e;
	font-size: 30px;
}
/*
	CONTACT SECTION

*/
#contact-section {
		background-color: #eee;
	 	padding: 60px 0;
}
#contact-section .container {
	width: 90%;
	margin: auto;

}
.section-head {
	margin-bottom: 60px;
	text-align: center;

}
.row {
	overflow: auto;
}
.col-grand {
	width: 75%;
	float: left;
	padding: 10px;
	
}
.col-petit {
	width: 25%;
	float: right;
	padding: 10px;
}
form .form-control {
	display: block;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;

}
form textarea {
	height: 200px;
}
.bouton {
	background-color: #18d36e;
	width: 200px;
	color: white;
	float: right;
	padding: 20px;
	cursor: pointer;
	border:none;
}
.bouton:hover {
	background-color: #18d29f;
}
.col-petit li i {
	color:  #18d36e;
	padding-right: 10px;
	font-size: 20px;
	position: relative;
	top: 5px;
}
.col-petit li {
	margin-bottom: 25px;
	font-size: 11px;
}
/*
	FOOTER SECTION
*/
#footer-section {
	background-color: #555;
 	padding: 60px 0;
 	color: #eee;
}
.footer {
	overflow: auto;
	width: 90%;
	margin: auto;
}
.footer .col4 {
	width: 25%;
	float: left;
	padding:10px;
}
.footer .col4 .Nazirah {
	border-left: 5px solid #18d26e;
	padding-left: 10px;
}
.footer .col4 li {
	list-style-type: none;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
	margin-bottom: 10px;

}
@media only screen and (max-width: 768px) {
	.col-3{
		width: 100%;

	}
	.col {
		width: 100%;

	}
	.footer .col4 {
		width: 100%;

	}
	.col-grand {
		width: 100%;

	}

	.col-petit {
		width: 100%;

	}
	.bouton {
		width: 100%;

	}

}

